*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background: #000;
}
.header{
    width: 100%;
    height: 100vh;
    position: relative;
}

.backgroung{
    height: 100vh;
    width: 100%;
    background-image: url("backImg.jpg");
    background-size: cover;
    background-position: center;
    filter: brightness(0.3) saturate(0.9);
    position: absolute;
}



.navbar{
    /* background-color: brown; */
    height: 88px;
    width: 100%;
    display: flex;
   justify-content: space-around;
   position: relative;
   align-items: center;
   z-index: 9;
   gap:500px;
   
}

.search{
    height: 35px;
    gap: 10px;
    display: flex;
}

.search .button1{
  
    width:90px ;
    background-color: #e50815;
    color: white;
    border-radius: 5.9px;
    font-family: Arial, Helvetica, sans-serif;
}

.lang-wrapper{
    border: 0.5px solid white;
    background-color: transparent;
    height: 30px;
    width: 125px;
    border-radius: 5.9px;
    padding-left: 10px;
    display: flex;
}

.lanLogo{
    font-family: Arial, Helvetica, sans-serif;
    height: 19px;
    width: 19px;
    margin-top: 5px;
}

.search .lang{
    width: 125px;
    background-color: transparent;
    color: white;
     border: none;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 15px;
}

.logo{
width: 200px;
height: 40px;

}
.logo .logoSvg{
    max-width: 100%;
    max-height: 100%;
}


.container{
    min-width: 100%;
    min-height: 100%;
    /* width: 400px;
     top: 18%; */
     top: 150px;
    display: inline;
    justify-content: center;
    align-items: center;
   position: relative;
   z-index: 9;
   color: white;
   text-align: center;
   
}
.content{
    z-index: 9;
    font-weight: bold;
   
}

.content h1{
    font-size:55px;
    font-family: Arial, Helvetica, sans-serif;
   font-weight: 1000;
   margin-bottom: 15px;
}

.content p{
 
    margin-bottom: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.Ready {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
   color: white;
width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Ready p{
 margin: auto;
}
.email-add{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-section-wrapper{
    width: 550px;
    height: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.input-section-wrapper.lower{
    width: 850px;
}
.input{
    font-size: 16px;
    width: 100%;
    height: 55px;
    background-color: transparent;
    border: 0.5px solid whitesmoke;
    border-radius: 5px;
}

.button2{
    height: 55px;
    border:none ;
    width: 320px;
    background-color: #e50815;
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
}

.input{
    color: white;
    padding-left: 15px;
}
.input::placeholder{
    color: white;
}

.curv-line-box{
    top:309px;
    height: 100px;
    position: relative;
    z-index: 9;
    /* border: 2px solid white; */
    background-color: rgba(64, 97, 231, 0.4);
}

.curv-line2{
    height: 1px;
    margin-top: 16px;
  border: 2px solid #e50815;
   
}


.text-trend{
   margin: 25px;
   
    height: 80px;
    width: 250px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    z-index: 9;
   
}

.text-trend h3{
   margin-top: 50px;
   padding-left: 80px;
}

.curve-pseudo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
    border-radius: 30% 30% 70% 70% / 70% 70% 50% 50%;
   
}

.mainpage{
    height:420px;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
}


.trend{
    /* position: relative; */
    margin-left: 90px;
    padding-top: 60px;
    height: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
   
}

.moves{
    display: flex;
    margin-top: 20px;
    height: 201px;
    justify-content: space-evenly;
}

.move{
    height: 300px;
    width: 250px;
    border: 1px solid transparent;
    border-radius: 20px;
   
}
.move img {
    height: 100%;
    width: 100%;
    border-radius: 20px;

}

.move:hover{
    transform: scale(1.1);
    transition-delay: 0s;
    transition-duration: 0.5s;
}


/* second */

.mainpage2{
    height: 420px;
    background-color: black;
}


.join-reasons{
    display: flex;
    margin-top: 29px;
    height: 201px;
    justify-content: space-evenly;
}

.join-box{
    position: relative;
    height: 340px;
    width: 300px;
    display: flex;
    border: 1px solid transparent;
    border-radius: 20px;
    background: linear-gradient(to top,#1f101c , #1a1e3f);
   /* background:linear-gradient(to top, rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237)) */
}
.join-box:hover{
    transform: scale(1.1);
    transition-delay: 0s;
    transition-duration: 0.5s;
}

.move img {
    height: 100%;
    width: 100%;
    border-radius: 20px;  
}

.box-header{
    height: 50px;
    width: 90%;
    color: white;
    margin-left: 20px;
    margin-top: 30px;
}

.box-content{
    width: 80%;
    color: white;
    margin-left: 19px;
    margin-top: 15px;
    font-size: 16px;
}
.more-section-icon{
position: absolute;
right: 18px;
bottom: 10px;
}


.mainpage3{
    margin-top: 40px;
    height:670px;
    background-color: #000;
}


.questions-box{
    width: fit-content;
    margin: auto;
    margin-top: 15px;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.under-plus{
    width: 1200px;
    left: 20px;
    height: 100px;
    background-color: #2d2d2d;
    border: 1px solid transparent;
    
} 

.under-content{
    color: white;
    margin-top: 30px;
    margin-left: 20px;
}

.footer{
    background-color: black;
    margin-top: 70px;
}

.email-add{
    display: inline-block;
}

.email-add p{
    margin-top: 0px;
    color: white;
    font-size: 20px;
    
}

